pytextrank==3.2.4
rouge==1.0.1
pandas==1.4.4
spacy==3.5.1
keyphrase-vectorizers==0.0.11
sentence_transformers 
transformers==4.30
torch
sklearn
accelerate 
sentencepiece
wandb 
pathlib 
nltk
re 
os
numpy
gradio
