fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
python-json-logger
slowapi
boto3
supabase
llama-cpp-python
langchain
langchain-community
langchain-huggingface
langchain-pinecone
langchain-text-splitters
pinecone-client
sentence-transformers
pypdf
beautifulsoup4
chromadb
tenacity
langsmith
python-multipart
python-magic
numpy<2.0.0
transformers<4.41.0
